/* #region IMPORT */
@import url(_partials/variables.css);
@import url(_partials/commons.css);
@import url(components/components.css);
/* #endregion IMPORT */


header {
  background-color: var(--sc-bkg-header);
}

main section:nth-of-type(1) {
  background-color: var(--sc-bkg-jumbo);
  color: white;
}

main section:nth-of-type(1) .col-3 {
  height: 200px;
  background-color: blue;
}

main section:nth-of-type(2) .row .col > div {
  height: 150px;
  background-color: aqua;
}

main section:nth-of-type(3) {
  background-color: var(--sc-bkg-jumbo);
  color: white;
}

main section:nth-of-type(4) {
  color: var(--sc-bkg-header);
}


footer .footer-top {
  background-color: var(--sc-bkg-footer-top);
  color: white;
}

footer .footer-bottom {
  background-color: var(--sc-bkg-header);
  height: 100px;
  color: white;
  line-height: 100px;
}